In [42]:
# Dependencies
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [43]:
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [44]:
# Save file path to variable
data = "part2data.csv"

In [61]:
# Read with Pandas
data_pd = pd.read_csv(data)
data_pd.head()

,Country Name,Series Name,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Brazil,GDP growth (annual %),0.50395574,-3.545763393,-3.305454313,1.063861259,1.11757918
1,Brazil,GDP (current US$),2.45599E+12,1.80221E+12,1.79628E+12,2.05359E+12,1.86863E+12
2,Brazil,GNI (current US$),2.40738E+12,1.76331E+12,1.75881E+12,2.01553E+12,1.8402E+12
3,Brazil,GNI per capita (constant 2010 US$),11713.099,11183.30902,10732.88221,10785.84543,10857.43411
4,Brazil,GDP per capita growth (annual %),-0.352479218,-4.351483989,-4.098702255,0.251410419,0.328069801

In [62]:
data_pd = data_pd.rename(columns={'2014 [YR2014]':'2014','2015 [YR2015]':'2015','2016 [YR2016]':'2016','2017 [YR2017]':'2017','2018 [YR2018]':'2018'})
data_pd.head()

,Country Name,Series Name,2014,2015,2016,2017,2018
0,Brazil,GDP growth (annual %),0.50395574,-3.545763393,-3.305454313,1.063861259,1.11757918
1,Brazil,GDP (current US$),2.45599E+12,1.80221E+12,1.79628E+12,2.05359E+12,1.86863E+12
2,Brazil,GNI (current US$),2.40738E+12,1.76331E+12,1.75881E+12,2.01553E+12,1.8402E+12
3,Brazil,GNI per capita (constant 2010 US$),11713.099,11183.30902,10732.88221,10785.84543,10857.43411
4,Brazil,GDP per capita growth (annual %),-0.352479218,-4.351483989,-4.098702255,0.251410419,0.328069801

In [63]:
completedf = data_pd
completedf.head()

,Country Name,Series Name,2014,2015,2016,2017,2018
0,Brazil,GDP growth (annual %),0.50395574,-3.545763393,-3.305454313,1.063861259,1.11757918
1,Brazil,GDP (current US$),2.45599E+12,1.80221E+12,1.79628E+12,2.05359E+12,1.86863E+12
2,Brazil,GNI (current US$),2.40738E+12,1.76331E+12,1.75881E+12,2.01553E+12,1.8402E+12
3,Brazil,GNI per capita (constant 2010 US$),11713.099,11183.30902,10732.88221,10785.84543,10857.43411
4,Brazil,GDP per capita growth (annual %),-0.352479218,-4.351483989,-4.098702255,0.251410419,0.328069801

In [52]:
brazildf = completedf
brazildf.drop(brazildf.index[brazildf['Country Name'] != 'Brazil'], inplace = True)
brazildf

,Country Name,Series Name,2014,2015,2016,2017,2018
0,Brazil,GDP growth (annual %),0.50395574,-3.545763393,-3.305454313,1.063861259,1.11757918
1,Brazil,GDP (current US$),2.45599E+12,1.80221E+12,1.79628E+12,2.05359E+12,1.86863E+12
2,Brazil,GNI (current US$),2.40738E+12,1.76331E+12,1.75881E+12,2.01553E+12,1.8402E+12
3,Brazil,GNI per capita (constant 2010 US$),11713.099,11183.30902,10732.88221,10785.84543,10857.43411
4,Brazil,GDP per capita growth (annual %),-0.352479218,-4.351483989,-4.098702255,0.251410419,0.328069801
5,Brazil,GDP per capita (current US$),12112.5903,8814.000987,8712.887044,9880.946543,8920.762105
6,Brazil,"Inflation, GDP deflator (annual %)",7.846748633,7.566156399,8.100008296,3.472810599,3.025440944
7,Brazil,Unemployment with advanced education (% of tot...,1.248100042,5.070799828,6.329100132,7.015799999,6.859300137
8,Brazil,Unemployment with basic education (% of total ...,6.560800076,8.724200249,13.55790043,15.34440041,14.6498003
9,Brazil,Unemployment with intermediate education (% of...,4.007100105,7.360199928,13.45639992,14.57900047,14.10569954
10,Brazil,"Unemployment, total (% of total labor force) (...",6.670000076,8.437000275,11.60900021,12.82699966,12.54399967
11,Brazil,"Unemployment, total (% of total labor force) (...",..,..,11.59990025,12.82240009,12.33380032

In [64]:
worlddf = completedf
worlddf.drop(worlddf.index[worlddf['Country Name'] != 'World'], inplace = True)
worlddf

,Country Name,Series Name,2014,2015,2016,2017,2018
12,World,GDP growth (annual %),2.839940064,2.85293936,2.565408958,3.16540231,3.038775292
13,World,GDP (current US$),7.92961E+13,7.50031E+13,7.61028E+13,8.08913E+13,8.58044E+13
14,World,GNI (current US$),7.95849E+13,7.52309E+13,7.6207E+13,8.10287E+13,8.57823E+13
15,World,GNI per capita (constant 2010 US$),10151.27684,10314.87274,10451.51209,10672.14573,..
16,World,GDP per capita growth (annual %),1.639532526,1.663912631,1.384203303,1.998910545,1.907945696
17,World,GDP per capita (current US$),10928.87116,10217.65601,10247.93623,10769.67711,11298.30371
18,World,"Inflation, GDP deflator (annual %)",1.984050408,1.991383803,1.843184887,3.185317537,2.901442156
19,World,Unemployment with advanced education (% of tot...,..,..,..,..,..
20,World,Unemployment with basic education (% of total ...,..,..,..,..,..
21,World,Unemployment with intermediate education (% of...,..,..,..,..,..
22,World,"Unemployment, total (% of total labor force) (...",5.190535637,5.21666888,5.21524393,5.048580597,4.95100167
23,World,"Unemployment, total (% of total labor force) (...",..,..,..,..,..

In [65]:
usdf = completedf
usdf.drop(usdf.index[usdf['Country Name'] != 'World'], inplace = True)
usdf

,Country Name,Series Name,2014,2015,2016,2017,2018
12,World,GDP growth (annual %),2.839940064,2.85293936,2.565408958,3.16540231,3.038775292
13,World,GDP (current US$),7.92961E+13,7.50031E+13,7.61028E+13,8.08913E+13,8.58044E+13
14,World,GNI (current US$),7.95849E+13,7.52309E+13,7.6207E+13,8.10287E+13,8.57823E+13
15,World,GNI per capita (constant 2010 US$),10151.27684,10314.87274,10451.51209,10672.14573,..
16,World,GDP per capita growth (annual %),1.639532526,1.663912631,1.384203303,1.998910545,1.907945696
17,World,GDP per capita (current US$),10928.87116,10217.65601,10247.93623,10769.67711,11298.30371
18,World,"Inflation, GDP deflator (annual %)",1.984050408,1.991383803,1.843184887,3.185317537,2.901442156
19,World,Unemployment with advanced education (% of tot...,..,..,..,..,..
20,World,Unemployment with basic education (% of total ...,..,..,..,..,..
21,World,Unemployment with intermediate education (% of...,..,..,..,..,..
22,World,"Unemployment, total (% of total labor force) (...",5.190535637,5.21666888,5.21524393,5.048580597,4.95100167
23,World,"Unemployment, total (% of total labor force) (...",..,..,..,..,..

In [66]:
completedf

,Country Name,Series Name,2014,2015,2016,2017,2018
12,World,GDP growth (annual %),2.839940064,2.85293936,2.565408958,3.16540231,3.038775292
13,World,GDP (current US$),7.92961E+13,7.50031E+13,7.61028E+13,8.08913E+13,8.58044E+13
14,World,GNI (current US$),7.95849E+13,7.52309E+13,7.6207E+13,8.10287E+13,8.57823E+13
15,World,GNI per capita (constant 2010 US$),10151.27684,10314.87274,10451.51209,10672.14573,..
16,World,GDP per capita growth (annual %),1.639532526,1.663912631,1.384203303,1.998910545,1.907945696
17,World,GDP per capita (current US$),10928.87116,10217.65601,10247.93623,10769.67711,11298.30371
18,World,"Inflation, GDP deflator (annual %)",1.984050408,1.991383803,1.843184887,3.185317537,2.901442156
19,World,Unemployment with advanced education (% of tot...,..,..,..,..,..
20,World,Unemployment with basic education (% of total ...,..,..,..,..,..
21,World,Unemployment with intermediate education (% of...,..,..,..,..,..
22,World,"Unemployment, total (% of total labor force) (...",5.190535637,5.21666888,5.21524393,5.048580597,4.95100167
23,World,"Unemployment, total (% of total labor force) (...",..,..,..,..,..